langchain==0.1.6
langchain-community==0.0.19
langchain-core==0.1.23
langchain-pinecone
langchainhub
langchain-openai
pinecone-client
openai

beautifulsoup4
unstructured
nltk
python-magic-bin
fastapi
jinja2
uvicorn
streamlit
streamlit-chat
tqdm